<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Article</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/article.css" />
  </head>
  <body>
    <header></header>

    <section>
      <article>
        <header>
          <h2>SbAdE</h2>
        </header>

        <figure>
          <img src="/assets/img/astronaut-7059915_1920.png" alt="2chainz" />
        </figure>
        <p>écoutez le son</p>
        <audio controls>
          <source src="/assets/audio/audio.mp3" type="audio/mp3" />
        </audio>
        <a href="https://www.fnac.com/" target="new">
          <span>achetez son nouvelle album</span>
        </a>
        <footer>
          <ul>
            <li>
              <a href=""><img src="/assets/img/gmail.png" alt="" /></a>
            </li>
            <li>
              <a href=""><img src="/assets/img/twiter.png" alt="" /></a>
            </li>
          </ul>
        </footer>
      </article>
    </section>
    <video autoplay loop preload="metadata" muted>
        <source src="/assets/video/video.mp4" type="video/mp4">
        <source src="/assets/video/video.ogv" type="video/ogv">
        <source src="/assets/video/video.webm" type="video/webm">
    <video>
  </body>
</html>
